body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(240, 120, 100);
    color:white;
}
#logo{
    width:100px;
    height: 100px;
    float: left;
    color: transparent;
}

.underline{
    width: 100px;
    height: 5px;
    background:rgb(255, 255, 255);
    margin: auto;
}
hr{
    width:30%;
}
#output
{
	background: white;
	border-radius: 10px;
	border-top: 10px solid rgb(19, 0, 34);
	padding: 10px;
	float: none;
	text-align: left;
    color: rgb(19, 0, 34)
}
#answer_part{
    display: none;
}